@use '@/styles/variables' as *;

.Evolution {
  position: absolute;
  top: 5.7%;
  left: 0%;
  z-index: 1;
  display: flex;

  &-pictureWrapper {
    /* Fixed border cut size */
    --cut: 1em;

    aspect-ratio: 1 / 1;
    position: relative;
    width: 17%;
    display: flex;

    &::after {
      content: '';
      display: block;
      position: absolute;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &-frameWrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 4;
  }

  &-frame {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  &-frameInnerShadowMask {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url('@/assets/octagon-m.svg');
    mask-size: contain;
    overflow: hidden;
  }

  &-frameInnerShadowDark {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: absolute;
    top: 0.05em;
    left: 0.05em;
    filter: blur(0.1em) brightness(0);
    opacity: 0.4;
  }

  &-frameInnerShadowLight {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: absolute;
    top: -0.05em;
    left: -0.05em;
    filter: blur(0.1em) brightness(200%) contrast(200%);
    opacity: 0.4;
  }

  &-imageWrapper {
    position: relative;
    z-index: 3;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    mask-image: url('@/assets/octagon-m.svg');
    mask-size: contain;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-pictureBackground {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url('@/assets/octagon-m.svg');
    mask-size: contain;
    background: $gray-card;
    background: $gray-card-gradient;
  }

  &-fullShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0.2em) brightness(0);
    z-index: 1;
    opacity: 0.5;
  }

  &-nameWrapper {
    align-self: center;
    display: flex;
    padding: calc(1% + 0.32em) calc(2% + 0.2em) calc(1% + 0.2em) calc(2.5% + 0.2em);
    margin-top: -3.7%;
    margin-left: -0.4em;
    min-width: 45%;
    position: relative;
    border: 0.2em solid transparent;
  }

  &-name {
    font-size: 0.5em;
    color: $gray-800;
    line-height: 0.5;
    position: relative;
    z-index: 1;
  }

  &-nameBox {
    position: absolute;
    top: 0;
    left: -3%;
    right: 3%;
    bottom: 0;
    background: $gray-card;
    background: $gray-card-gradient;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2),
    1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    border: 0.2em solid $gray-400;
    transform: skewX(-40deg);

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: -0.1em;
      border-right: 0.2em solid $gray-400;
      box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.4);
    }

    &--evolution2 {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: -0.4em;
        border-right: 0.2em solid $gray-400;
        box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}