.ExCard {
  aspect-ratio: 63 / 88;
  max-width: 100%;
  max-height: 100%;
  border-radius: calc(8.8% / 2) / calc(6.3% / 2);
  font-size: 100%;
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(141deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 33%, rgba(255,255,255,1) 66%, rgba(207,207,207,1) 100%);
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  will-change: transform;

  > div,
  > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-effectsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    border-radius: calc(8.8% / 2) / calc(6.3% / 2);
  }
}